<div th:if="${generalMessageTitle}">
  <div class="modal" id="general-message-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" th:utext="${generalMessageTitle}"></h2>
        </div>
        <div class="modal-body">
          <p th:utext="${generalMessageBody}"></p>
        </div>
      </div>
    </div>
  </div>
  
  <span id="general-message-modal-redirect" style="display:none" th:text="${generalMessageRedirect}"></span>
  <span id="general-message-modal-redirect-immediately" style="display:none" th:text="${generalMessageRedirectImmediately}"></span>
  <span id="general-message-modal-refresh-jwt" style="display:none" th:text="${generalMessageRefreshJwt}"></span>

  <script>
    redirectImmediately = $("#general-message-modal-redirect-immediately").text();
    refreshNeeded=$("#general-message-modal-refresh-jwt").text()
    console.log("REDIRECT=" + redirectImmediately);
    if (redirectImmediately.startsWith("/")) {
       if (refreshNeeded == "true") {
          fetch('/user/jwt/refresh?force=true', {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            }
          }).then(() => {
            window.location.href=redirectImmediately;
          });
      } else {
        window.location.href=redirectImmediately;
      }
    }
    $("#general-message-modal").modal("show");
    $("#general-message-modal").on("hide.bs.modal",  async function () {
      redirect=$("#general-message-modal-redirect").text();
      if (redirect.startsWith("/")) {
        if (refreshNeeded == "true") {
            fetch('/user/jwt/refresh?force=true', {
              method: 'POST',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              }
            }).then(() => {
              window.location.href=redirect;
            });
        } else {
          window.location.href=redirect;
        }
      }
    });
  </script>
</div>