.yearInput {
  width: 90%;
}

#fair_value {
  margin-bottom: 0px;
}

#charts {
  margin-top: 40px;
}

#calculation_result {
  width: 100%;
}

#calculation_result input {
  text-align: center;
}

tbody tr td:first-child {
  min-width: 150px;
  max-width: 150px;
}

tbody tr td {
  text-align: center;
}



.no-modify {
  background-color: #eee;
}