
.choose_section_2{
  width: 100%;
  float: left;
}

.power_full{
  width: 100%;
  float: left;
  background-color: #2aaf80;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0px 0px 8px 0px;
}

.power{
  width: 100%;
  float: left;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 20px;
    box-shadow: 0px 0px 8px 0px;
}

.icon{
  text-align: center;
  margin-top: 40px;
}
.powerful_text{
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 20px; 
  color: #ffffff;

}

.totaly_text{
    width: 100%;
  float: left;
  text-align: center;
  margin-top: 20px; 
  color: #000;
}


.currently-selected-plan {
  position: relative;
  top: 15px;
}


.feature-list li {
  list-style-type: "✔";
}


.buy-button-div {
  text-align:center;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 0;
}

.payment-div {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.feature-list {
  margin-bottom: 50px;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

body {
     color: #222;
     font-size: 14px;
     font-family: 'Raleway', sans-serif;;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
}

.form-check-input {
  width: 1.5em;
  height: 1.5em;
}

.chart-tooltip-link {
  font-size: 14pt;
  margin-left:4px;
  text-decoration: none;
  color: #000;
  position: relative;
  top: 2px;
}

.tooltip-inner {
    max-width: 500px !important; 
}

.authorization-error-table-overlay {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  z-index: 1000;
  font-weight: 800;
  font-size: 16pt;
}

.inspiration-description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.signin-with-google {
    display: flex;
    align-items: center;
    justify-content: center;
}

#conditions .dropdown-menu {
    max-height: 80vh;
    overflow-y: auto;
    z-index: 10001;
}

#conditions .dropdown-menu {
    max-height: 80vh;
    overflow-y: auto;
    z-index: 10001;
}

#conditions input {
  width: 100px;
  height: 35px;
  border-radius: .25rem;
}

select, #start-date-dropdown, #end-date-dropdown {
  font-size: 18pt;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  height: 35px;
}

#start-date-dropdown, #end-date-dropdown {
  font-size: 18pt;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  height: 43px;
}

#backtest-button {
  position: relative;
  top: -4px;
}

#conditions select:hover {
  background-color: #eee;
}

#screener-result-table {
  margin-top: 20px;
}

#conditions .remove-condition-link {
  text-decoration: none;
  margin-left: 10px;
  font-size: 28pt;
  position: relative;
  top: -1px;
  color: rgba(50,50,50,0.7);
}

#conditions .remove-condition-link:hover {
  color: rgba(20,20,20,0.7);
}

#exchanges option:checked{
    background: #87a556;
    box-shadow: 0 0 10px 100px #87a556 inset;
    color: white;
}

#exchanges {
  height: 300px;
}

.table-dark a:link { color: lightskyblue; }
.table-dark a:visited { color: lightskyblue; }
.table-dark a:hover { color: #ffffff; }
.table-dark a:active { color: #ff4040; text-decoration:none; font-weight:normal; }

.additional-menu-items a:link, .additional-menu-items a:visited, .additional-menu-items a:active {
  color: black;
  text-decoration:none;
}
.additional-menu-items a:hover {
  color: #444;
}

.additional-menu-items i:hover {
  cursor: pointer;
}

.add-to-watchlist-icon {
  color:black;
  text-decoration:none;
  font-size: 12pt;
  margin-left: 20px;
}
.add-to-watchlist-icon:hover {
  color: #DAA520;
}

.profile-fixed-width {
  width: 250px;
}

.profile-max-width {
  max-width: 330px;
}

#change_password_form {
  font-size: 10pt;
  font-weight: 400;
}

#change_password_form label {
  margin-top: 20px;
}

#add-to-watchlist-header {
  margin-left: 20px;
  position: relative;
  top: 5px;
  cursor: pointer;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  width: 100%;
  height: 50px;
  z-index: 10000;
  position: relative;
}

/* Style the links inside the navigation bar */
.topnav div {
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
}

@supports (-moz-appearance:none) {
  .topnav a {
    padding: 14px 16px;
  }
}

.topnav > .autoComplete_wrapper {
  padding-top: 6px;
  padding-bottom: 6px;
  float:right;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .menu {
  float:left;
  padding-left: 0px;
  padding-right: 0px;
}

.topnav-icon {
  margin-right: 7px;
}

.watchlist-actions-cell {
  font-size:20pt;
  white-space: nowrap;
}
.watchlist-actions-cell i, .watchlist-actions-cell a {
  margin-left: 6px;
  cursor:pointer;
  width: 30px;
  color:black;
}

.watchlist-actions-cell-header {
  width: 30px;
}

.watchlist-table-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.watchlist-table-container .badge {
  margin-left: 2px;
}



@media (max-width: 1070px) {
 #autoComplete {
    width: 200px;
  }
}

@media (max-width: 900px) {
  .topnav-text {
    display:none;
  }
}


.general-portfolio-pie-chart {
  width: 12.5%;
  float:left;
}

.general-portfolio-data {
  width: 12.5%;
  float:left;
}


.single-number-chart {
  font-size: 20pt;
  text-align: center;
}