<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css">
  <link rel="stylesheet" type="text/css" href="/css/common-style.css">
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/charts_style.css">
  <link rel="stylesheet" type="text/css" href="../css/calculator-style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
  <script src="../js/charts-common.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4680762769337689" crossorigin="anonymous"></script>
  
  <title th:text="${companyName} + ' DCF calculator'"></title>
</head>
<body>

<div th:replace="fragments/navbar :: my_fragment(active='calculator')"></div>
<div class="clearFloat"></div>

<div id="content">

  <h2><span id="stock" th:text="${stock}" style="display:none"></span><span id="stock-name" th:text="${companyName} + ' DCF calculator'"></span></h2>
  <span id="current-price" th:text="${latestPrice}" style="display:none"></span>


<form id="dcf_form">
  <div class="form-row">
    <div class="col-md-2 mb-3">
      <label for="revenue">Revenue (millions)</label>
      <input th:value="${revenue}" id="revenue" type="text" class="form-control no-modify" placeholder="Revenue in millions">
    </div>
    <div class="col-md-2 mb-3">
      <label for="startMargin">Start net margin</label>
      <input th:value="${startMargin}" id="startMargin" type="text" class="form-control" placeholder="Start margin">
    </div>
    <div class="col-md-2 mb-3">
      <label for="startGrowth">Start growth %</label>
      <input th:value="${startGrowth}" id="startGrowth" type="text" class="form-control" placeholder="Start growth">
    </div>
    <div class="col-md-2 mb-3">
      <label for="shareChange">Share chg annual %</label>
      <input th:value="${shareChange}" id="shareChange" type="text" class="form-control" placeholder="Share change">
    </div>
    <div class="col-md-2 mb-3">
      <label for="discount">Discount rate %</label>
      <input value="10" id="discount" type="text" class="form-control" placeholder="Discount">
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-2 mb-3">
      <label for="validationDefault03">Share count (thousand)</label>
      <input  th:value="${shareCount}" id="shareCount" type="text" class="form-control no-modify" placeholder="Share count">
    </div>
    <div class="col-md-2 mb-3">
      <label for="endMargin">End net margin</label>
      <input th:value="${endMargin}" id="endMargin" type="text" class="form-control" placeholder="End margin">
    </div>
    <div class="col-md-2 mb-3">
      <label for="endGrowth">End growth %</label>
      <input th:value="${endGrowth}" id="endGrowth" type="text" class="form-control" placeholder="End growth">
    </div>
    <div class="col-md-2 mb-3">
      <label for="endShareChange">End share chg annual %</label>
      <input th:value="${shareChange}" id="endShareChange" type="text" class="form-control" placeholder="Share change">
    </div>

    <div class="col-md-2 mb-3">
      <label for="endMultiple">End multiple</label>
      <input th:value="${endMultiple}" id="endMultiple" type="text" class="form-control" placeholder="End multiple">
    </div>
  </div>
          
</form>


<h3 id="fair_value">Value: </h3>
<span id="current_price"></span>

<div id="charts">
</div>

<h2>Details</h2>
<table id="calculation_result" class="table table-sm">
  <tr id="table_dates">
    <td  scope="col">Date</td>
  </tr>
  <tr id="table_revenue">
    <td  scope="col">Revenue</td>
  </tr>
  <tr id="table_eps">
    <td  scope="col">EPS</td>
  </tr>
  <tr id="table_deps">
    <td  scope="col">Discounted EPS</td>
  </tr>
</table>

<script src="../js/calculator.js"></script>

<script src="../js/autocomplete.js"></script>

</div>

<div th:replace="fragments/jwt-refresher :: jwt_refresher"></div>
<span id="allowed" style="display:none" th:text="${allowed}"></span>
<span id="accountType" style="display:none" th:text="${accountType}"></span>
<span id="viewLimit" style="display:none" th:text="${viewLimit}"></span>
<div th:replace="fragments/content-blocking-modal"></div>
<div th:replace="fragments/general-message-modal"></div>

</body>
</html>
