<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Long term stock fundamentals</title>
<meta name="keywords" content="stock, fundamentals, long-term, long term, trends, risk, analysis, research">
<meta name="description" content="Long term stock fundamentals">
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!-- style css -->
<!-- Responsive-->
<link rel="stylesheet" href="css/responsive.css">
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="css/autocomplete/autocomplete.css">


<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<header id="home"class="section">
	<div class="header_main">
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo"><a href="#home"><img src="images/logo.png" style="max-width: 100%;"></a> 
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end header inner -->
      <section >
      	<div class="bannen_inner">
            <div class="container">
                <div class="row marginii">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    	<div class="taital_main">
                    		
                    	</div>
                        <h1 class="web_text"><strong>Long term stock fundamentals</strong></h1>
                        <p class="donec_text">Research stocks based on the long term fundamentals for free.<br/><br/>
                                Historical fundamental data available for more than 40,000 companies worldwide going back 30+ years.<br/><br/>
                                Make confident investing choices by exploring long term trends and risks.<br/>
                                See sample pages before signing up: <a class="sample-link" href="/stock/TSLA">TSLA</a>, <a class="sample-link" href="/stock/INTC">INTC</a></p>
                         <a class="get_bg" href="#sign_up" role="button">Sign up</a>
                         <a class="btn btn-lg btn-dark" href="about.html" role="button">Sign in</a>
                    </div>
                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                 <div class="img-box">
                    <figure><img src="images/woofer2.png" alt="img" style="max-width: 180%;"></figure>
                 </div>
            </div>
           </div>
           <div class="emaim-bt">
           	<div class="col-md-9 margin-0">
            <div class="custom-form-control mb-3 margin-top-20">
                <input id="autoComplete" type="text" class="custom-form-control" placeholder="Enter stock name or ticker">
            </div>           
        </div>
       </div>
     </div>
    </div>
    </section>
	</header>
    <!-- banner end -->
    <!-- choose start -->
    <div id="about" class="choose_section">
    	<div class="container">
    		<div class="col-sm-12">
    			<h1 class="choose_text">Why you should <span class="color">sign up</span></h1>
    		</div>
    	</div>
    </div>
    <div class="choose_section_2">
    	<div class="container">
    	    <div class="row">
    		    <div class="col-sm-4">
    			    <div class="power">
    				    <div class="icon"><a href="#"><img src="images/icon-trends.png"></a></div>
    				    <h2 class="totaly_text">Long term trends</h2>
    				    <p class="making">Seeing long term fundamental data trends can help you to make better investment decisions.</p>
    			    </div>
    		    </div>
    		    <div class="col-sm-4">
    			    <div class="power">
    				    <div class="icon"><a href="#"><img src="images/optimised-icon.png"></a></div>
    				    <h2 class="totaly_text">Risk checks</h2>
    				    <p class="making">We provide several checks for possible red flags in stocks, using them you can avoid companies with weak fundamentals.</p>
    			    </div>
    		    </div>
    		    <div class="col-sm-4">
    			    <div class="power">
    				    <div class="icon"><a href="#"><img src="images/icon-3.png"></a></div>
    				    <h2 class="totaly_text">Value analysis</h2>
    				    <p class="making">We provide several tools that can help you to find undervalued stocks with great value.</p>
    			    </div>
    		    </div>
    	    </div>    		
    	</div>
    </div>
    <div class="contact_section_2">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
    				<div class="input_main">
                       <div class="container">
                          <a id="sign_up"><h1 class="choose_text">Free sign up</h1></a>
                          <form action="/action_page.php">
                            <div class="form-group">
                              <input type="text" class="email-bt" placeholder="Username" name="Usernameame">
                            </div>
                            <div class="form-group">
                              <input type="text" class="email-bt" placeholder="Email" name="Email">
                            </div>
                            <div class="form-group">
                              <input type="password" class="email-bt" placeholder="Password" name="Password">
                            </div>
                            <div class="form-group">
                              <input type="password" class="email-bt" placeholder="Password confirm" name="password2">
                            </div>
                          </form>
                          
                       </div> 
                       <div class="send_btn">
                        <button type="button" class="main_bt"><a href="#">Sign up</a></button>
                       </div>                   
                    </div>
    			</div>
    			<div class="col-md-6">
    				<div class="section_right">
    					<img src="images/img-2.png" style="max-width: 100%;">
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <!--
    <div class="contact_section_3">
    	<div class="container">
    		<div class="contact_product">
    			<div class="row">
    				<div class="col-sm-6 col-md-6 col-lg-2">
    					<div class="footer-logo"><img src="images/footer-logo.png" style="max-width: 100%;"></div>
    				</div>
    				<div class="col-sm-6 col-md-6 col-lg-4">
    					<h1 class="useful_text">USEFUL LINK</h1>
    				<div class="menu">
    					<ul>
    						<li><a href="#home"><img src="images/bulit-icon.png" style="padding-right: 10px;">Home</a></li>
    						<li><a href="#about"><img src="images/bulit-icon.png" style="padding-right: 10px;">About</a></li>
    						<li><a href="#service"><img src="images/bulit-icon.png" style="padding-right: 10px;">Services</a></li>
    						<li><a href="#contact"><img src="images/bulit-icon.png" style="padding-right: 10px;">Contact Us</a></li>
    					</ul>
    				</div>	
    				</div>
    				<div class="col-sm-12 col-md-12 col-lg-6">
    					<h1 class="useful_text">PRODUCT</h1>
    					<div class="menu multi_column_menu">
    					   <ul>
    						  <li class="footer_menu"><a href="#"><img src="images/bulit-icon.png" class="footer_menu">Webhosting</a></li>
    						  <li class="footer_menu"><a href="#"><img src="images/bulit-icon.png" class="footer_menu">Reseler Hosting</a></li>
    						  <li class="footer_menu"><a href="#"><img src="images/bulit-icon.png" class="footer_menu">VPS Hosting</a></li>
    						  <li class="footer_menu"><a href="#"><img src="images/bulit-icon.png" class="footer_menu">Wordpress Hosting</a></li>
    						  <li class="footer_menu"><a href="#"><img src="images/bulit-icon.png" class="footer_menu">Dedicated hosting</a></li>
    						  <li class="footer_menu"><a href="#"><img src="images/bulit-icon.png" class="footer_menu">Windows</a></li>
    					   </ul>
    				    </div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    -->
    <div class="copyright_main">
    	<div class="container">
    		<p class="copy_text">© 2018 All Rights Reserved. <a href="https://html.design">Free Website Templates</a></p>
    	</div>
    </div>


    <!-- contact end -->
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>


      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script>
         const autoCompleteJS = new autoComplete({
            placeHolder: "Search for stocks...",
            data: {
                src: async (query) => {
                  let url = "http://localhost:8080/suggest?search=" + query;
                  
                  result = [];
                  suggestions = await fetch(url)
                                  .then(res => res.json())
                                  .catch(err => { throw err });
                  for (i = 0; i < suggestions.length && i < 3; ++i) {
                    out = suggestions[i];
                    element=out.symbol + " - " + out.name;
                    result.push({
                       key: out.symbol,
                       display: element
                    });
                  }
                  return result;
                },
                keys: ["display"],
                cache: false
            },
            resultItem: {
                highlight: true,
            },
            events: {
                input: {
                    selection: (event) => {
                        const selection = event.detail.selection.value;
                        window.location.href = "/stock/" + selection.key
                        console.log(selection);
                    }
                }
            }
        });
 
         </script> 
 
 
 
</body>
</html>



