<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="/css/charts_style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/common-style.css">
  
  <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  
  <title>Stock screener</title>
</head>
<body>

<div th:replace="fragments/navbar :: my_fragment(active='screener')"></div>
<div class="clearFloat"></div>

<div id="content">
  <div>
    <h2 style="float:left">Stock screener</h2>
    <div class="additional-menu-items" style="float:right; font-size: 30pt;margin-right: 30px;">
      <a href="javascript:;" onclick="loadScreener()" class="fa-solid fa-folder-open"></a>
      <a href="javascript:;" onclick="saveScreener()" class="fa-solid fa-floppy-disk"></a>
    </div>
    <div class="clearFloat"></div>
  </div>
  <div class="row">
    <div class="col-xl-7">
      <div id="conditions">
        <div class="condition-row">
          <select class="metric-dropdown"  style="float:left">
            <option th:value="${field.key}" th:text="${field.value.readableName}" th:each="field : ${screenerFields}"></option>
          </select>
    
          <select class="operator-dropdown"  style="float:left">
            <option th:value="${operator.symbol}" th:text="${operator.symbol}" th:each="operator : ${operators}"></option>
          </select>
        
          <div style="float:left">
            <input value="30.0"></input>
          </div>
          <div class="remove-filter" style="float:left">
            <a class="remove-condition-link fa-solid fa-square-xmark" href="javascript:;"></a>
          </div>
          <div style="clear:both"></div>
        </div>
      </div>
      
    
      <button class="btn btn-dark" onclick="addNewCondition()">Add new condition</button>
    </div>
    <div class="col-md-5">
      <select id="exchanges" multiple="multiple" class="form-select" aria-label="Exchanges">
          <option value="ALL">All exchanges</option>
          <option th:value="${field.key}" th:text="${field.key} + ' (' + ${field.value} + ')'" th:each="field : ${exchanges}" th:selected="${field.key == 'NASDAQ' || field.key == 'NYSE' ? 'true' : null}"></option>
      </select>
    </div>
  </div>
  <hr style="border:1px">
  <div  style="margin-top: 40px; margin-bottom: 30px;">
    <div style="float:left">
      <button class="btn btn-primary" onclick="submitScreener()">Run screener</button>
    </div>
    <div style="float:right">
      <select id="start-date-dropdown">
        <option th:value="${date}" th:text="${date}" th:each="date : ${backtestDates}" th:selected="${date == 1993 ? 'true' : null}"></option>
      </select>
      <span style="font-size:18pt">&rarr;</span>
      <select id="end-date-dropdown" >
        <option th:value="${date}" th:text="${date}" th:each="date : ${backtestDates}"  th:selected="${date == 2022 ? 'true' : null}"></option>
      </select>
      <button id="backtest-button" class="btn btn-success" onclick="submitBacktest()">
        <span style="display:none" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Backtest
      </button>
    </div>
    <div style="clear:both"></div>
  </div>
  <div name="backtest-result" id="backtest-result">
  </div>

  <div id="screener-result-table">
  </div>
  <div id="generic-modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
          </div>
      </div>
  </div>

<script>
  function addNewCondition() {
    newRow = $("#conditions .condition-row").first().clone();
    if ($("#conditions .condition-row").length < 20) {
      $("#conditions").append(newRow);
    }
  }
  
  function submitScreener() {
    exchanges = $("#exchanges").val();
    screenerOperations = collectOperations();
    
    res = fetch('/screener/perform', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({operations: screenerOperations, exchanges: exchanges})
        }).then(res => {
          return res.json();
        }).then(data => {
            resultHtml = "";
            if (data.errorMessage != undefined && data.errorMessage != null && data.errorMessage.length > 0) {
                $(".screener-error-message").remove();
                $("#screener-result-table").prepend( "<div class=\"screener-error-message\" style=\"color:red\">Error: " + data.errorMessage + "</div>");
            } else {
                columns = data.columns;
                rows = data.portfolio;
            
                resultHtml = createTableHtml(columns, rows, false);

                $("#screener-result-table").html(resultHtml);
                $('#screener-result-table table').DataTable({
                  "iDisplayLength": 100,
                  "order": []
                });
                if (data.hasMoreResults) {
                  $("#screener-result-table").append("<div class=\"screener-more-results\">* there are more results, filter more to see those</div>");
                }
            }
        });
  }
  
  function createTableHtml(columns, rows, dark) {
      if (dark == true) {
        cssClass = "table-dark";
      } else {
        cssClass = "";
      }
      resultHtml = "";
        resultHtml += `
      <table class="table table-striped ` + cssClass + `">
        <thead>
          <tr>`;
      for (i = 0; i < columns.length; ++i) {
         resultHtml += '<th scope="col">' + columns[i] +'</th>';
      }
      resultHtml += `
          </tr>
        </thead>
        <tbody>`;
      for (i = 0; i < rows.length; ++i) {
        resultHtml += "<tr>";
        for (j = 0; j < columns.length; ++j) {
           var value = rows[i][columns[j]];
           resultHtml += "<td>" + value + "</td>";
        }
        resultHtml += "</tr>";
      }
      resultHtml += `
         </tbody>
       </table>`;
       return resultHtml;
  }
  
  function collectOperations() {
    screenerOperations = [];
    $('.condition-row').each(function(i, obj) {
        metric = $(this).find(".metric-dropdown").val();
        operation = $(this).find(".operator-dropdown").val();
        number1 = $(this).find("input:eq(0)").val();
        number2 = 0.0;
        secondField = $(this).find("input:eq(1)");
        if (secondField.length > 0) {
          number2 = secondField.val();
        }
        
        screenerOperations.push({id: metric, operation: operation, number1: number1, number2: number2});
    });
    return screenerOperations;
  }
  
  function submitBacktest() {
    $("#backtest-button").prop("disabled",true);
    $("#backtest-button span").css({display: 'inline-block'});
    
    exchanges = $("#exchanges").val();
    screenerOperations = collectOperations();
    
    startYear = $("#start-date-dropdown").val();
    endYear = $("#end-date-dropdown").val();

    res = fetch('/screener/backtest', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({operations: screenerOperations, exchanges: exchanges, startYear: startYear, endYear: endYear})
        }).then(res => {
          return res.json();
        }).then(data => {
          $("#backtest-button").prop("disabled",false);
          $("#backtest-button span").css({display: 'none'});
          var canvas = document.createElement("canvas");
          canvas.style='width:100%;max-height:400px'
          
          $("#backtest-result").html($(canvas));
          //canvas.scrollIntoView();
          
          if (!data.investedInAllMatching) {
            $("#backtest-result").prepend("Warning: your conditions matched more than 100 stocks in some years, in those years just 100 matching stocks is invested it (randomly), which will cause variations between runs. Add more filtering conditions to decrease the number of matching stocks.");
          }
          $("#backtest-result").append(`
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Median annual return</th>
                    <th scope="col">Avg annual return</th>
                    <th scope="col">Invested $</th>
                    <th scope="col">Returned $</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Screener</th>
                    <td>` + data.screenerMedianPercent.toLocaleString('en-US', {maximumFractionDigits: 2}) + `%</td>
                    <td>` + data.screenerAvgPercent.toLocaleString('en-US', {maximumFractionDigits: 2}) + `%</td>
                    <td>$` + data.investedAmount.toLocaleString('en-US', {maximumFractionDigits: 0}) + `</td>
                    <td>$` + data.screenerReturned.toLocaleString('en-US', {maximumFractionDigits: 0}) + `</td>
                  </tr>
                  <tr>
                    <th scope="row">S&P500</th>
                    <td>` + data.sp500MedianPercent.toLocaleString('en-US', {maximumFractionDigits: 2}) + `%</td>
                    <td>` + data.sp500AvgPercent.toLocaleString('en-US', {maximumFractionDigits: 2})  + `%</td>
                    <td>$` + data.investedAmount.toLocaleString('en-US', {maximumFractionDigits: 0}) + `</td>
                    <td>$` + data.sp500Returned.toLocaleString('en-US', {maximumFractionDigits: 0}) + `</td>
                  </tr>
                </tbody>
              </table>
          `);
          
          var xValues = [];
          var spYValues = [];
          var screenerYValues = [];
          
          console.log(data.yearData);
          for (let [key, value] of Object.entries(data.yearData)) {
            xValues.push(key);
            spYValues.push(value.spAnnualReturnPercent);
            screenerYValues.push(value.screenerAnnualReturnPercent);
            console.log(key + " = " + value);
          }

          colorPalette = ["rgba(0,0,255,0.6)", "rgba(255,0,0,0.6)"]
          colorPaletteLine =  [ "rgba(0,0,255,0.8)", "rgba(255,0,0,0.8)" ]
          
          var chartConfig = {
            type: 'bar',
            data: {
              labels: xValues,
              datasets: [{
                fill: true,
                pointRadius: 2,
                borderColor: colorPaletteLine[0],
                backgroundColor: colorPalette[0],
                data: screenerYValues,
                pointHitRadius: 300,
                label: 'Screener annual return'
              },{
                fill: true,
                pointRadius: 2,
                borderColor: colorPaletteLine[1],
                backgroundColor: colorPalette[1],
                data: spYValues,
                pointHitRadius: 300,
                label: 'S&P 500 annual return'
              }]
            }, 
            options: {
              animation: true,
              responsive: true,
        
               label: {
                 display: false
               },
              plugins: {
                legend: {
                  display: 'S&P500 vs screener'
                },
                tooltip: {
                    callbacks: {
                        label: (item) =>
                            `${item.dataset.label}: ${item.formattedValue}%`,
                    },
                },
              },
              scales: {
                x: {
                  display: true,
                },
                y: {
                  display: true,
                  type: 'linear'
                }
              },
            },
          };
          
          var chart = new Chart(canvas, chartConfig);
          
          yearInvestmentHtml = "";
          for (let [key, value] of Object.entries(data.yearData)) {
             console.log("ASD: " + key + " " + value.investedStocks);
             yearInvestmentHtml += "<h2>" + key + "</h2>";
             yearInvestmentHtml +=  createTableHtml(data.columns, value.investedStocks, true);
          }
          
          fullInvestmentHtml = `
              <div class="accordion" id="backtest-all-invesment-accordion">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Show all backtest investments
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#backtest-all-invesment-accordion">
                    <div class="accordion-body panel-collapse">
                      <div>` + yearInvestmentHtml + `</div>
                    </div>
                  </div>
                </div>
              </div>
          
          `;
          $("#backtest-result").append(fullInvestmentHtml);
        });
  }

  function saveScreener() {

    $("#generic-modal .modal-content").html(`
        <div class="modal-header">
            <h5 class="modal-title">Save screener</h5>
        </div>
        <div class="modal-body" id="modal-body">
          <div class="mb-3">
            <label for="screener-name" class="col-form-label">Save as:</label>
            <input type="text" class="form-control" id="screener-name">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="saveScreenerWithName()">Save</button>
        </div>`);
    $("#generic-modal").modal("show");
  }
  

  function loadScreener() {
    var screenersString = localStorage.getItem('screeners');
    
    if (screenersString === undefined || screenersString === null) {
      screenersToLoad = [];
    } else {
      screenersToLoad = JSON.parse(screenersString);
    }
    
    options = "<select id=\"screener-name\">";
    for (let [key, value] of Object.entries(screenersToLoad)) {
      options += "<option value='" + key + "'>" + key + "</option>";
    }
    options += "</select>"
    
    console.log(options);
  
    $("#generic-modal .modal-content").html(`
        <div class="modal-header">
            <h5 class="modal-title">Load screener</h5>
        </div>
        <div class="modal-body" id="modal-body">
          <div class="mb-3">
            <label for="screener-name" class="col-form-label">Load screener:</label>
            ` + options + `
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="loadScreenerWithName($('#screener-name').val())">Load</button>
        </div>`);
    $("#generic-modal").modal("show");
  }
  
  function saveScreenerWithName() {
    exchanges = $("#exchanges").val();
    screenerOperations = collectOperations();
    
    name = $("#screener-name").val();
    
    
    
    if (name.length < 1) {
      showErrorDialog("Cannot save screener with no name");
      return;
    }
    if (!name.match(/^[_, a-zA-Z0-9]+$/)) {
      showErrorDialog("Please use just letters, numbers, spaces and _ for the name of the screener");
      return;
    }
    
    console.log(name + " " + JSON.stringify({operations: screenerOperations, exchanges: exchanges}));
    
    var screenersString = localStorage.getItem('screeners');
    
    console.log(screenersString);
    if (screenersString === undefined || screenersString === null) {
      screenersToSave = {};
    } else {
      screenersToSave = JSON.parse(screenersString);
    }
    
    result = screenersToSave[name];
    
    screenersToSave[name] = {operations: screenerOperations, exchanges: exchanges};
    
    console.log("TOSAVE: " + screenersToSave);

    localStorage.setItem('screeners', JSON.stringify(screenersToSave));
    localStorage.setItem('last-loaded-screener', name);
    
    $("#generic-modal").modal("hide");
  }
  
  function loadScreenerWithName(name) {
    
    if (name.length < 1) {
      showErrorDialog("Cannot load screener with no name");
      return;
    }
    
    
    var screenersString = localStorage.getItem('screeners');
    
    console.log(screenersString);
    if (screenersString === undefined || screenersString === null) {
      showErrorDialog("Cannot find screener with that name");
      return;
    }
    screenersToSave = JSON.parse(screenersString);
    
    result = screenersToSave[name];
    console.log("NAME= " + name);
    if (result === undefined || result === null) {
      showErrorDialog("Cannot find screener with that name");
      return;
    }
    
    localStorage.setItem('last-loaded-screener', name);
    createScreeners(result);
    
    $("#generic-modal").modal("hide");
  }
  
  function createScreeners(data) {
    if (data.operations === undefined || data.operations == null || data.operations.length == 0) {
      return;
    }
  
    templateRow = $("#conditions .condition-row").first().clone();
    $("#conditions .condition-row").remove();
    
    for (i = 0; i < data.operations.length; ++i) {
      newRow = templateRow.clone();
      newRow.find(".metric-dropdown").val(data.operations[i].id);
      newRow.find(".operator-dropdown").val(data.operations[i].operation);
      newRow.find("input:eq(0)").val(data.operations[i].number1);
      $("#conditions").append(newRow);
    }
    
    console.log("EXCHANGES=" + data.exchanges[1]);
    $("#exchanges").val(data.exchanges);
    
    submitScreener();
  }

  function showErrorDialog(errorMessage) {
    $("#generic-modal .modal-content").html(`
        <div class="modal-header">
            <h5 class="modal-title">Error</h5>
        </div>
        <div class="modal-body" id="modal-body">
          <div class="mb-3">
            ` + errorMessage + `
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>`);
    $("#generic-modal").modal("show");
}

$('#conditions').on("click", ".dropdown-item",  function(e){
    button = $(this).parent().parent().find("button").first();
    button.text(this.text);
    button.data("metric-id", $(this).data("metric-id"));
});
$('#conditions').on("click", ".remove-filter",  function(e){
    if ($(".condition-row").length > 1) {
      button = $(this).parent().remove();
    }
});

$(".metric-dropdown").val("roic");
$(".operator-dropdown").val(">");
$("#conditions input").first().val("30");

submitScreener();

if (typeof localStorage !== 'undefined') {
  lastLoadedScreener = localStorage.getItem('last-loaded-screener');
  if (lastLoadedScreener != null) {
    var screenersString = localStorage.getItem('screeners');
    if (!(screenersString === undefined || screenersString === null)) {
      screenersToSave = JSON.parse(screenersString);
      if (screenersToSave[lastLoadedScreener] !== undefined && lastLoadedScreener[lastLoadedScreener] !== null) {
        console.log(lastLoadedScreener);
        loadScreenerWithName(lastLoadedScreener);
      }
    }
  }
}


</script>


<script src="../js/autocomplete.js"></script>

</div>

<span id="accountType" style="display:none" th:text="${accountType}"></span>
<div th:replace="fragments/jwt-refresher :: jwt_refresher"></div>
<span id="allowed" style="display:none" th:text="${allowed}"></span>
<span id="accountType" style="display:none" th:text="${accountType}"></span>
<span id="viewLimit" style="display:none" th:text="${viewLimit}"></span>
<div th:replace="fragments/content-blocking-modal"></div>
<div th:replace="fragments/general-message-modal"></div>

</body>
</html>
