<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/charts_style.css">
  <link rel="stylesheet" type="text/css" href="/css/common-style.css">

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" ></script>
  <script src="/js/common.js" ></script>

  <title>Stock screener</title>
</head>
<body>

<div th:replace="~{fragments/navbar :: my_fragment(active='screener')}"></div>
<div class="clearFloat"></div>

<div id="content">
  <div>
    <h2 style="float:left">Stock screener</h2>
    <div class="additional-menu-items" style="float:right; font-size: 30pt;margin-right: 30px;">
      <i class="fa-solid fa-circle-question" onclick="showScreenerHelp()"></i>
      <a href="javascript:;" onclick="loadScreener()" class="fa-solid fa-folder-open"></a>
      <a href="javascript:;" onclick="saveScreener()" class="fa-solid fa-floppy-disk"></a>
    </div>
    <div class="clearFloat"></div>
  </div>
  <div class="row">
    <div class="col-xl-7">
      <div id="conditions">
        <div class="condition-row">
          <select class="metric-dropdown"  style="float:left">
            <option th:value="${field.key}" th:text="${field.value.readableName}" th:each="field : ${screenerFields}"></option>
          </select>
    
          <select class="operator-dropdown"  style="float:left">
            <option th:value="${operator.symbol}" th:text="${operator.symbol}" th:each="operator : ${operators}"></option>
          </select>
        
          <div style="float:left">
            <input value="30.0"></input>
          </div>
          <div class="remove-filter" style="float:left">
            <a class="remove-condition-link fa-solid fa-square-xmark" href="javascript:;"></a>
          </div>
          <div style="clear:both"></div>
        </div>
      </div>
      
    
      <button class="btn btn-dark" onclick="addNewCondition()">Add new condition</button>
    </div>
    <div class="col-md-5">
      <select id="exchanges" multiple="multiple" class="form-select" aria-label="Exchanges">
          <option value="ALL">All exchanges</option>
          <option th:value="${field.key}" th:text="${field.key} + ' (' + ${field.value} + ')'" th:each="field : ${exchanges}" th:selected="${field.key == 'NASDAQ' || field.key == 'NYSE' ? 'true' : null}"></option>
      </select>
    </div>
  </div>
  <hr style="border:1px">
  <div  style="margin-top: 40px; margin-bottom: 30px;">
    <div style="float:left">
      <button class="btn btn-primary" onclick="submitScreener()">Run screener</button>
    </div>
    <div style="float:right">
      <select id="start-date-dropdown">
        <option th:value="${date}" th:text="${date}" th:each="date : ${backtestDates}" th:selected="${date == 1993 ? 'true' : null}"></option>
      </select>
      <span style="font-size:18pt">&rarr;</span>
      <select id="end-date-dropdown" >
        <option th:value="${date}" th:text="${date}" th:each="date : ${backtestDates}"  th:selected="${date == 2024 ? 'true' : null}"></option>
      </select>
      <button id="backtest-button" class="btn btn-success" onclick="submitBacktest()">
        <span style="display:none" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Backtest
      </button>
    </div>
    <div style="clear:both"></div>
  </div>
  <div name="backtest-result" id="backtest-result">
  </div>

  <div id="screener-result-table">
  </div>
  <div id="generic-modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
          </div>
      </div>
  </div>
  <div id="generic-large-modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
          </div>
      </div>
  </div>

<script src="/js/screener.js"></script>
<script src="/js/autocomplete.js"></script>

</div>

<span id="accountType" style="display:none" th:text="${accountType}"></span>
<div th:replace="~{fragments/jwt-refresher :: jwt_refresher}"></div>
<span id="allowed" style="display:none" th:text="${allowed}"></span>
<span id="accountType" style="display:none" th:text="${accountType}"></span>
<span id="viewLimit" style="display:none" th:text="${viewLimit}"></span>
<div th:replace="~{fragments/content-blocking-modal}"></div>
<div th:replace="~{fragments/general-message-modal}"></div>

</body>
</html>
